# Server
PORT=3005

# Celo
CELO_RPC_URL=https://forno.celo.org

# SoloWager contract
SOLO_WAGER_ADDRESS=0xc78A8A027e07Ae5d52981f627bbac973a8d77eFb

# Backend validator wallet (DO NOT COMMIT)
VALIDATOR_PRIVATE_KEY=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
